p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
}

.overlay {
  inset: 0;
  background-color: rgba(0, 0, 0, 0.26);
  position: fixed;
  z-index: 99;
  display: none;
}