.form-group {
  padding: 0 0 20px;
  label {
    font-size: 16px;
    font-weight: 500;
    color: $color-black;
    margin-bottom: 12px;
    display: block;
    width: fit-content;
  }
  input,
  textarea {
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgba($color-white, 1);
    border-radius: 4px;
    background-color: rgba($color-white, 0.1);

    &:focus {
      outline: transparent;
      background-color: rgba($color-white, 0.15);
      box-shadow: unset;
      border-color: rgba($color-primary, 1);
    }
  }
}
